div.callout-solution.callout { 
  border-left-color: #ff69b488
} 
div.callout-exercise.exercise { 
  border-left-color: #40E0D088
} 
div.callout-tip.callout { 
  border-left-color:  #40E0D044
}



/***********
* ggplot2 Colors
************/

// colors for groups: we have two names---one focused on actual color, the other on the intended in-context meaning
.twocolor-red, .groupa {
  color: #F8766D;
}

.twocolor-green, .groupb {
  color: #00BFC4;	
}

// colors for replicated polls
.midnight, .polla {
  color: #073b4c;
}

.pink, .pollb {
  color: #ef476f;
}

.teal, .pollc {
  color: #118ab2;
}

.polld { 
  color: #06d6a0;
}

.magenta, .counterfactual {
  color: #FF00FF;
}
.green { 
  color: #00FF00;
}

.cyan, .population { 
  color: #00FFFF;
}

.blue, .sample { 
  color: #0000FF;
} 

.purple {
  color: #A020F0;
}

.target {
  background-color: #00FF0088;
}
.shadedred {
  background-color: #FF000088;
}
