div.callout-solution.callout, div.callout-solution.callout { 
  border-left-color: #ff69b488
} 
div.callout-exercise.exercise, div.callout-exercise.callout { 
  border-left-color: #40E0D088
} 
div.callout-tip.callout { 
  border-left-color:  #40E0D044
}

.break-after {
  page-break-after: always;
}
@media print {
  div {
    break-inside: avoid;
  }
}

/* Add expand arrow for solutions. 
 * This  is callout-type-specific in the quarto css.
 * I've borrowed this background image from callout-tip
 */ 
div.callout-solution .callout-toggle::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33, 37, 41)" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>')
}

/***********
* ggplot2 Colors
************/

// colors for groups: we have two names---one focused on actual color, the other on the intended in-context meaning
.twocolor-red, .groupa {
  color: #F8766D;
}

.twocolor-green, .groupb {
  color: #00BFC4;	
}

// colors for replicated polls
.midnight, .polla {
  color: #073b4c;
}

.pink, .pollb {
  color: #ef476f;
}

.teal, .pollc {
  color: #118ab2;
}

.polld { 
  color: #06d6a0;
}

.magenta, .counterfactual {
  color: #FF00FF;
}
.green { 
  color: #00FF00;
}

.cyan, .population { 
  color: #00FFFF;
}

.blue, .sample { 
  color: #0000FF;
} 

.purple {
  color: #A020F0;
}

.target {
  background-color: #00FF0088;
}
.shadedred {
  background-color: #FF000088;
}
