/* -- based on grant mcdermott's clean theme  (https://github.com/grantmcdermott/quarto-revealjs-clean) -- */

/*-- scss:defaults --*/
$jet: #131516;
$accent: #107895;
$accent2: #9a2515;
$right-arrow: "\2192"; // Unicode character for right arrow

// fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i);
$font-family-sans-serif: "Roboto", sans-serif !default;
$presentation-font-size-root: 36px;

$presentation-heading-font: "Roboto", sans-serif !default;
$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: 200;

// colors
$body-bg: rgb(231, 240, 236);
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
}

.reveal p {
  font-weight: 300;
  margin-top: 1.25em;
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $body-color;
    font-size: 1.4em;
    font-weight: 350;
  }

  .subtitle {
    color: $accent;
    font-style: italic;
    margin-top: 0em;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    // color: #7F7F7F;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

}

.reveal h2 {
  font-weight: 350;
  font-size: 1.2em;
}

.reveal h3 {
  color: $accent;
  font-style: italic;
  font-weight: 350;
  font-size: 0.95em;
}

.reveal h4 {
  color: $accent2;
  font-weight: 350;
  margin-top: 1.25em;
}

// alerts etc.

.alert {
  color: $accent2;
}

.fg {
  color: var(--col, $jet);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

// lists

// Unordered lists

.reveal ul {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: mix($accent, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($accent, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

.reveal ol {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: $accent;
  }
}

// Tables

th, td { 
  border: 1px solid #FFFFFF; 
  padding: 3px 4px; 
} 

th { 
  font-weight: 700; 
}

// 'Footnotes'

.footnotestyle {
  font-size: 0.6em;
  color: mix($accent, white, 60%);
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $accent;
  border: 1px solid $accent;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}


/***********
* ggplot2 Colors
************/

// colors for groups: we have two names---one focused on actual color, the other on the intended in-context meaning
.twocolor-red, .groupa {
  color: #F8766D;
}

.twocolor-green, .groupb {
  color: #00BFC4;	
}

// colors for replicated polls
.midnight, .polla {
  color: #073b4c;
}

.pink, .pollb {
  color: #ef476f;
}

.teal, .pollc {
  color: #118ab2;
}

.polld { 
  color: #06d6a0;
}

/// colors for counterfactual/pop/sample quantities and other stuff we use from time to time

.magenta, .counterfactual {
  color: #FF00FF;
}
.green { 
  color: #00FF00;
}

.cyan, .population { 
  color: #00FFFF;
}

.blue, .sample { 
  color: #0000FF;
} 

.purple {
  color: #A020F0;
}

.target {
  background-color: #00FF0088;
}
.shadedred {
  background-color: #FF000088;
}

.todofix {
  background-color: #FF0000;
  color: #FFFFFF;
}

/***
 create a border around each slide's content --- the region where we can write using TLDraw
***/
.reveal .slides>section.slide {
   border: solid;
   border-width: 1px;
   border-radius: 1px; 
   border-color: rgba(7, 81, 91, 0.1);
   -webkit-background-clip: padding-box; /* for Safari */
   background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
