/*-- scss:defaults --*/
$body-bg: rgb(220, 236, 232);

/*-- scss:rules --*/

/*-- scss:mixins --*/

/***********
* ggplot2 Colors
************/

.twocolor-red {
  color: #F8766D;
}

.twocolor-green {
  color: #00BFC4;	
}

/********
* Styles from Coloris package Examples

********/

.circle .clr-field button {
  width: 22px;
  height: 22px;
  left: 5px;
  right: auto;
  border-radius: 50%;
}

.circle .clr-field input {
  border: none;
  background-color:#00BFC422;
  color:#F8766D11;
  padding-left: 36px;
  height: 35px;
}
