/*-- scss:defaults --*/
$body-bg: rgb(220, 236, 232);

/*-- scss:rules --*/

/*-- scss:mixins --*/

/***********
* ggplot2 Colors
************/

.twocolor-red {
  color: #F8766D;
}

.twocolor-green {
  color: #00BFC4;	
}
