div.page-layout-custom { 
  float: none;
}

section.level1 { 
  break-after: page;
}

.callout.callout-style-default.callout-exercise>.callout-header { 
  background-color: #ED8275
} 
.callout.callout-style-default.callout-solution>.callout-header { 
  background-color: #75DFED
} 
