/* 
style object.img like img so including svg as object instead of img doesn't change appearance 
*/

.quarto-layout-cell>p>object.img {
    max-width: 100%;
  }
  
  .reveal object.img {
    margin: var(--r-block-margin) 0; 
    max-height: 95%;
    max-width: 95%;
    overflow-clip-margin: content-box;
    overflow: clip;
}