.tlui-toolbar { 
  transform-origin: left;
  transform: rotate(-90deg) scale(65%);
}
.tlui-toolbar { 
  justify-content: left;
}

.tlui-toolbar__extras {
    transform: translate(0,180%) rotate(180deg);
} 

.tlui-toolbar__tools__list > div {
  transform-origin: center;
  transform: rotate(90deg);
}
.tlui-toolbar__extras__controls > button {
  transform-origin: center;
  transform: rotate(-90deg);
}